<div class="background-image">
  <div class="container" *ngIf="recipeDetails">
    <h2>{{ recipeDetails.title }}</h2>
    <img [src]="recipeDetails.image" alt="Recipe Image">
    <div class="details">
      <h3>Ingredients</h3>
      <ul>
        <li *ngFor="let ingredient of recipeDetails.extendedIngredients">{{ ingredient.original }}</li>
      </ul>
      <h3>Instructions</h3>
      <ol>
        <li *ngFor="let step of recipeDetails.analyzedInstructions[0].steps">{{ step.step }}</li>
      </ol>
    </div>
  </div>
  
  <div class="container" *ngIf="!recipeDetails">
    <p>Loading...</p>
  </div>
</div>
